.gallery {
  background: linear-gradient(
      rgba(245, 238, 232, 0.5),
      rgba(245, 238, 232, 0.5)
    ),
    url(../img/background.svg) 50% / cover no-repeat;
  &__top {
    padding-top: 140px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }
  &__title {
    padding-top: 28px;
  }
  &__button {
    margin-top: 36px;
    a {
      text-decoration: none;
      color: #fff;
    }
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 35px;
    column-gap: 136px;
  }
  &__img-top {
    position: relative;
    padding-top: 51px;
    flex: 0 0 60.698%;
    width: 60.698%;
    transition: opacity 0.3s ease;
    opacity: 1;
    z-index: 4;
    img {
      max-width: 100%;
    }
    &:hover {
      opacity: 0.9;
    }
  }
  &__decoration-item-1 {
    max-width: 357px;
    position: absolute;
    top: -74px;
    right: -162px;
    z-index: -1;
    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }
  &__decoration-item-2 {
    max-width: 357px;
    position: absolute;
    bottom: -205px;
    left: -85px;
    z-index: -1;
    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }
  &__decoration-item-3 {
    max-width: 357px;
    position: absolute;
    bottom: -120px;
    left: -65px;
    z-index: -1;
    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }
  &__decoration-item-4 {
    max-width: 357px;
    position: absolute;
    top: -190px;
    right: -10px;
    z-index: -1;
    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }
  &__img-bottom {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 4;
  }
  &__img-landscape {
    flex: 0 1 56%;
    transition: opacity 0.3s ease;
    opacity: 1;
    img {
      max-width: 100%;
    }
    &:hover {
      opacity: 0.9;
    }
  }

  &__img-portrait {
    flex: 0 1 29.24%;
    transition: opacity 0.3s ease;
    opacity: 1;
    img {
      max-width: 100%;
    }
    &:hover {
      opacity: 0.9;
    }
  }
}
