.tea-carousel {
  background: linear-gradient(
      rgba(245, 238, 232, 0.5),
      rgba(245, 238, 232, 0.5)
    ),
    url(../img/background.svg) 50% / cover no-repeat;
  &__title {
    padding-top: 85px;
  }
  &__wrapper {
    position: relative;
    padding-top: 45px;
  }
  &__img {
    max-width: 315px;
    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }
  &__text {
    padding-top: 33px;
    color: #333;
    font-weight: 400;
    text-transform: capitalize;
    a {
      position: relative;
      text-decoration: none;
      color: #333;
      margin-left: 27px;
    }
    ::before {
      content: "";
      position: absolute;
      top: -3px;
      left: -28px;
      background-image: url("../icons/icon_bag.svg");
      background-size: cover;
      width: 16px;
      height: 19px;
      display: inline-block;
    }
  }
  .slick-prev,
  .slick-next {
    display: block;
    position: absolute;
    top: -30px;
    img {
      width: 17px;
      height: 20px;
    }
  }
  .slick-prev {
    left: 96%;
  }

  .slick-next {
    right: 0;
  }
}
