.tea-carousel {
  background: linear-gradient(
      rgba(245, 238, 232, 0.5),
      rgba(245, 238, 232, 0.5)
    ),
    url(../img/background.svg) 50% / cover no-repeat;
  &__title {
    padding-top: 85px;
  }
  &__wrapper {
    position: relative;
    padding-top: 45px;
  }
  &__img {
    margin-left: 15px;
    transition: opacity 0.3s ease;
    opacity: 1;
    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
    &:hover {
      opacity: 0.9;
    }
  }
  &__text {
    padding-top: 33px;
    color: #333;
    font-weight: 400;
    text-transform: capitalize;
    a {
      position: relative;
      display: inline-block;
      text-decoration: none;
      color: #333;
      margin-left: 44px;
      &::before {
        content: url('data:image/svg+xml;utf8,<svg width="18" height="22" viewBox="0 0 18 22" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M9 1.67742C7.2248 1.67742 5.78571 3.19387 5.78571 5.06451V5.74193H12.2143V5.06451C12.2143 3.19387 10.7752 1.67742 9 1.67742ZM13.5 5.74193V5.06451C13.5 2.44562 11.4853 0.322578 9 0.322578C6.51472 0.322578 4.5 2.44562 4.5 5.06451V5.74193H0V19.2903C0 20.7868 1.15127 22 2.57143 22H15.4286C16.8487 22 18 20.7868 18 19.2903V5.74193H13.5Z" fill="%237D806A"/></svg>');
        position: absolute;
        top: -3px;
        left: -28px;
        width: 16px;
        height: 19px;
        display: inline-block;
        transition: content 0.9s;
      }
      &:hover::before {
        content: url('data:image/svg+xml;utf8,<svg width="18" height="22" viewBox="0 0 18 22" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M9 1.67742C7.2248 1.67742 5.78571 3.19387 5.78571 5.06451V5.74193H12.2143V5.06451C12.2143 3.19387 10.7752 1.67742 9 1.67742ZM13.5 5.74193V5.06451C13.5 2.44562 11.4853 0.322578 9 0.322578C6.51472 0.322578 4.5 2.44562 4.5 5.06451V5.74193H0V19.2903C0 20.7868 1.15127 22 2.57143 22H15.4286C16.8487 22 18 20.7868 18 19.2903V5.74193H13.5Z" fill="%237D806ABA"/></svg>');
      }
    }
  }
  .slick-prev,
  .slick-next {
    display: block;
    position: absolute;
    top: -30px;
    img {
      width: 17px;
      height: 20px;
    }
  }
  .slick-prev {
    left: 96%;
  }

  .slick-next {
    right: 0;
  }
  .slick-prev:before,
  .slick-next:before {
    content: none !important;
  }
}
